#gameboard-id {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
#tiles-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
}

.tile {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background-color: aquamarine;
    margin-right: 20px;
}

.tile.flipped {
    transform: rotateY(180deg);
}

.noclick {
    pointer-events: none;
}