body {
    background-color: lavenderblush;
}
#gameboard-id {
    height: 600px;
    width: 600px;
    border: 1px solid purple;
    background-image: linear-gradient(to top, red, blue);
    display: grid;
    z-index: -5;
    border-radius: 5%;
}
#tiles-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.tile {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-right: 20px;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
    background: radial-gradient(rgb(156, 248, 156), rgb(199, 116, 199), purple);
    border-radius: 10%;
}

.tile img{
    height: 100%;
    border-radius: 10%;

}

.noclick {
    pointer-events: none;
    box-shadow: none;
}
.noclick > img {
    /* border: 2px solid orange; */

}
.tile.flipped {
    transform: rotateX(900deg);
}
.matched{
    /* border: 7px solid rgb(149, 241, 149); */

}
.matched > img {
    /* border: 7px solid rgb(149, 241, 149); */
    border-radius: 10%; 
    backface-visibility: hidden;

}

.tile-face {
    position: absolute;
}
.tile-front{
    transform: rotateX(900deg);
}

.win-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpeg');
    border-radius: 5%;
}

.win-span{
        font-size: 4rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(13, 151, 197);
        text-align: center;
        width: 100%;
}