#gameboard-id {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    background-color: darkgray;
    display: grid;
    z-index: -5;
}
#tiles-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
}

.tile {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-right: 20px;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
    
}

.tile img{
    height: 100%;
}

.tile.flipped {
    transform: rotateX(900deg);
}

.noclick {
    pointer-events: none;
    box-shadow: none;
}
.tile-face {
    position: absolute;
}
.tile-front{
    transform: rotateX(900deg);
}

.win-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpeg');

}

.win-span{
        font-size: 4rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(13, 151, 197);
        text-align: center;
        width: 100%;
}