body {
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
}

span {
    font-size: 1.5rem;
    color: cornflowerblue;
}

div {
    height: fit-content;
    width: 300px;
    margin: 10%;
}

img {
    height: 200px;
    width: auto;
}
.container {
    display: flex;
    flex-direction: row;
}